<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="finpool.finance.app.finpool">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="utils.VolleyManager"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="Finpool"
            android:theme="@style/AppTheme.NoActionBar">


        </activity>


        <activity android:name=".SplashScreenActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />


                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PortfolioActivity"
            android:label="@string/title_activity_portfolio"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".ClientSelectionActivity"
            android:label="@string/title_activity_client_selection"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".MFReportActivity"
            android:label="@string/title_activity_mfreport"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SipReportActivity"
            android:label="@string/title_activity_sip_report"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReversalReportActivity"
            android:label="@string/title_activity_reversal_report"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MFReportDetailActivity"
            android:label="@string/title_activity_mfreport_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InvestOnlineActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BankAccountActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TransactionReportActivity"
            android:label="@string/title_activity_transaction_report"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PatternLockActivity" />
        <activity
            android:name=".ClientOverviewActivity"
            android:label="@string/title_activity_client_overview"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InvestOnlineMenuActivity"
            android:label="@string/title_activity_invest_online_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ManageGroupActivity"
            android:label="@string/title_activity_manage_group"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GroupEditActivity"
            android:label="@string/title_activity_group_edit"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>